<!--
  Onderdelen:
  - ims -> off/on switch
  - eq -> off/on switch
  - mono/stereo -> off/on switch
  - bandbreedte -> push button (n steps)
  - squelch -> fader
  - fmsi (fm stereo improvement) -> 8 faders + peak level meters


  https://auth0.com/blog/building-an-audio-player-app-with-angular-and-rxjs/

-->

<div id="main">
  <div class="content">
    <div class="container">
      <div id="temp" style="height:100px;"></div>
      <div class="row">
        <div class="col col-md-4" style="border: 1px solid green">
          <app-squelch></app-squelch>
        </div>
        <div class="col col-md-4" style="border: 1px solid green">
          <app-mono-stereo></app-mono-stereo>
        </div>
        <div class="col col-md-4" style="border: 1px solid green"><!--column 3--></div>
      </div>

      <div class="row">
        <div class="col col-md-4" style="border: 1px solid green">
          <app-fmsi></app-fmsi>
        </div>
        <div class="col col-md-4" style="border: 1px solid green">
          <!--column 2-->
        </div>
        <div class="col col-md-4" style="border: 1px solid green"><!--column 3--></div>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
